:root {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    background: #005792;
    color: #e3e3e3;
    padding: 1em 0;
    height: 10vh;
}

.header-title {
    margin-top: 0.5em;
    margin-left: 2em;
    font-size: xx-large;
    font-family: "Yellowtail";
    letter-spacing: 3px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.dropdown-trigger {
    font-size: x-large;
    cursor: pointer;
    padding-top: 3vh;
    transition: all 0.3s ease;
    font-weight: bold;
}

.try-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    padding: 1em 2em;
    background: #0092ca;
    color: #eeeeee;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: max-content;
    height: max-content;
    font-size: x-large;
    font-weight: bold;
}

.homepage-img-wrapper {
    background: linear-gradient(
        156.8deg,
        rgb(30, 144, 231) 27.1%,
        rgb(67, 101, 225) 77.8%
    );
    border-radius: 70% 30% 22% 78% / 37% 30% 70% 63%;
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-part img {
    transition: all 0.5s ease;
    height: 70%;
}

@media (max-width: 768px) {
    .try-button {
        margin-right: 0;
    }
}

#app {
    background: #393e46;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    gap: 5px;
    grid-template-areas:
        "display display clear equal"
        "power mul divide plus"
        "eight nine dot minus"
        "four five six seven"
        "zero one two three";
    padding: 2em;
    background-color: #eeeeee;
    border-radius: 10px;
}

button {
    font-size: 1em;
    padding: 1em;
    border: none;
    cursor: pointer;
    background-color: #222831;
    color: white;
}

#display {
    grid-area: display;
    padding: 1em;
    font-size: 1.2em;
    text-align: right;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222831;
    cursor: default;
    min-height: 30vh;
}

p {
    color: #eeeeee;
    text-align: center;
    margin-top: 1em;
    font-size: larger;
}

.footer-icons {
    font-size: 2.5em;
}

#x-icon, #github-icon, #linkedin-icon {
    margin: 0.5em;
}

#x-icon:hover, #github-icon:hover, #linkedin-icon:hover {
    color: aliceblue;
    cursor: pointer;
}
